.topTenRow {
  display: flex;
  justify-content: space-evenly;
}

.topTenRow .name {
  text-transform: uppercase;
  text-align: center;
}
.topTenRow:nth-child(even) {
  background-color: lightgray;
}

@media (max-width: 890px) {
  .TopTenContainer {
    margin: 0 30%;
  }
  .TopTenTitle {
    text-align: center;
  }
}
