.header {
  display: flex;
  padding-right: 2%;
  padding-left: 2%;
}

.header div {
  flex-grow: 1;
}

.headerName h1 {
  padding-left: 3%;
}

.headerNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dropdown {
  display: none;
}

@media (max-width: 890px) {
  .headerNav {
    display: none;
  }

  .dropdown {
    position: relative;
    display: block;
  }

  .dropdown_menu {
    position: absolute;
    left: 0;
    top: calc(100%);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    margin-left: 60%;
  }

  .link {
    display: flex;
    font-size: xx-large;
    margin-top: 5%;
    margin-left: 60%;
  }

  .link:hover {
    color: black;
  }

  .dropdown > .link:focus + .dropdown_menu {
    opacity: 1;
    transform: translateY(0);
  }

  /* .dropDownMenu li:hover ul {
    display: block;
  } */
}
